



@media (max-width:790px) {
    #h_main {
        justify-content: space-between;
        margin: 0 1rem;
    }
    header{
        padding: 2rem 0;
    }

    #search{
        flex:0.6 ;
    }

    #sms{
        display: none;
    }
    #p_flex_i{
        display: none;        
    }    
    #nav_i >div {
        
        cursor: pointer;

    }

}



@media (min-width:790px) {
    #s_me , #noti{
        display: none;
        
    }    
    #p_flex_i{
        display: inline-flex;

    }
    #h_main {
        justify-content: start;
    }
    #sea_ico{
        display: inline;
    }

    #flex_icon>div>div{
        cursor: pointer;
    }
    #mobile_nav{
        display: none;
    }


    #post{
        display: none;
    }
    #flex1{
        display: block;
    }    
}
