#write:empty::before{
    content: attr(placeholder);
}
#write:empty:focus::before{
    content: "";
}
#write{
    min-height: 8rem;
    min-width: 20rem;
    margin: 0.5rem 0 0 0;
    padding: 0.25rem 0.25rem;
    outline: none;
}
#scroll{
    overflow-wrap: break-word;
    /* max-width: 23rem; */
    max-height: 15rem;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.700) transparent;
}